# {{ ansible_managed }}

###################################################
# repmgr sample configuration file
###################################################

# Some configuration items will be set with a default value; this
# is noted for each item. Where no default value is shown, the
# parameter will be treated as empty or false.

# =============================================================================
# Required configuration items
# =============================================================================
#
# repmgr and repmgrd require the following items to be explicitly configured.


{% if repmgr_node_id is defined %}
node_id={{ repmgr_node_id }}
{% endif %}

{% if repmgr_node_name is defined %}
node_name={{ repmgr_node_name }}
{% endif %}

{% if repmgr_conninfo is defined %}
conninfo={{ repmgr_conninfo }}
{% endif %}

{% if repmgr_data_directory is defined %}
data_directory={{ repmgr_data_directory }}
{% endif %}


# =============================================================================

# Optional configuration items
# =============================================================================


#------------------------------------------------------------------------------
# Server settings
#------------------------------------------------------------------------------

{% if postgresql_config_directory is defined %}
config_directory={{ postgresql_config_directory }}
{% endif %}

#------------------------------------------------------------------------------
# Replication settings
#------------------------------------------------------------------------------

{% if repmgr_replication_user is defined %}
replication_user={{ repmgr_replication_user }}
{% endif %}

{% if repmgr_replication_type is defined %}
replication_type={{ repmgr_replication_type }}
{% endif %}


{% if repmgr_location is defined %}
location={{ repmgr_location }}
{% endif %}

{% if repmgr_use_replication_slots is defined %}
use_replication_slots={{ repmgr_use_replication_slots }}
{% endif %}


#------------------------------------------------------------------------------
# Witness server settings
#------------------------------------------------------------------------------

{% if repmgr_witness_sync_interval is defined %}
witness_sync_interval={{ repmgr_witness_sync_interval }}
{% endif %}


#------------------------------------------------------------------------------
# Logging settings
#------------------------------------------------------------------------------
#
# Note that logging facility settings will only apply to `repmgrd` by default;
# `repmgr` will always write to STDERR unless the switch `--log-to-file` is
# supplied, in which case it will log to the same destination as `repmgrd`.
# This is mainly intended for those cases when `repmgr` is executed directly
# by `repmgrd`.

{% if repmgr_log_level is defined %}
log_level={{ repmgr_log_level }}
{% endif %}

{% if repmgr_log_facility is defined %}
log_facility={{ repmgr_log_facility }}
{% endif %}

{% if repmgr_log_file is defined %}
log_file={{ repmgr_log_file }}
{% endif %}

{% if repmgr_log_status_interval is defined %}
log_status_interval={{ repmgr_log_status_interval }}
{% endif %}


#------------------------------------------------------------------------------
# Event notification settings
#------------------------------------------------------------------------------

# event notifications can be passed to an arbitrary external program
# together with the following parameters:
#
#   %n - node ID
#   %e - event type
#   %s - success (1 or 0)
#   %t - timestamp
#   %d - details
#
# the values provided for "%t" and "%d" will probably contain spaces,
# so should be quoted in the provided command configuration, e.g.:
#
#   event_notification_command='/path/to/some/script %n %e %s "%t" "%d"'
#
# By default, all notifications will be passed; the notification types
# can be filtered to explicitly named ones, e.g.:
#
#   event_notifications=primary_register,standby_register

{% if repmgr_event_notification_command is defined %}
event_notification_command={{ repmgr_event_notification_command }}
{% endif %}

{% if repmgr_event_notifications is defined %}
event_notifications={{ repmgr_event_notifications }}
{% endif %}

#------------------------------------------------------------------------------
# Environment/command settings
#------------------------------------------------------------------------------
{% if postgresql_pg_bindir is defined %}
pg_bindir={{ postgresql_pg_bindir }}
{% endif %}

{% if repmgr_use_primary_conninfo_password is defined %}
use_primary_conninfo_password={{ repmgr_use_primary_conninfo_password }}
{% endif %}

{% if pg_passfile is defined %}
passfile={{ pg_passfile }}
{% endif %}

#------------------------------------------------------------------------------
# external command options
#------------------------------------------------------------------------------
#
# Options which can be passed to external commands invoked by repmgr/repmgrd.
#
# Examples:
#
#   pg_ctl_options='-s'
#   pg_basebackup_options='--label=repmgr_backup
#   rsync_options=--archive --checksum --compress --progress --rsh="ssh -o \"StrictHostKeyChecking no\""
#   ssh_options=-o "StrictHostKeyChecking no"

{% if repmgr_pg_ctl_options is defined %}
pg_ctl_options={{ repmgr_pg_ctl_options }}
{% endif %}

{% if repmgr_pg_basebackup_options is defined %}
pg_basebackup_options={{ repmgr_pg_basebackup_options }}
{% endif %}

{% if repmgr_rsync_options is defined %}
rsync_options={{ repmgr_rsync_options }}
{% endif %}
	
{% if postgresql_config_directory is defined %}
ssh_options={{ repmgr_ssh_options }}
{% endif %}								

#------------------------------------------------------------------------------
# "standby clone" settings
#------------------------------------------------------------------------------
#
# These settings apply when cloning a standby ("repmgr standby clone").
#
# Examples:
#
#   tablespace_mapping=/path/to/original/tablespace=/path/to/new/tablespace
#   restore_command = 'cp /path/to/archived/wals/%f %p'

{% if repmgr_tablespace_mapping is defined %}
tablespace_mapping={{ repmgr_tablespace_mapping }}
{% endif %}

{% if repmgr_restore_command is defined %}
restore_command={{ repmgr_restore_command }}
{% endif %}

{% if repmgr_archive_cleanup_command is defined %}
archive_cleanup_command={{ repmgr_archive_cleanup_command }}
{% endif %}

{% if repmgr_recovery_min_apply_delay is defined %}
recovery_min_apply_delay={{ repmgr_recovery_min_apply_delay }}
{% endif %}


#------------------------------------------------------------------------------
# "standby promote" settings
#------------------------------------------------------------------------------

# These settings apply when instructing a standby to promote itself to the
# new primary ("repmgr standby promote").
{% if repmgr_check_timeout is defined %}
promote_check_timeout={{ repmgr_check_timeout }}
{% endif %}

{% if repmgr_check_interval is defined %}
promote_check_interval={{ repmgr_check_interval }}
{% endif %}													



#------------------------------------------------------------------------------
# Standby follow settings
#------------------------------------------------------------------------------

# These settings apply when instructing a standby to follow the new primary
# ("repmgr standby follow").
{% if repmgr_primary_follow_timeout is defined %}
primary_follow_timeout={{ repmgr_primary_follow_timeout }}
{% endif %}



#------------------------------------------------------------------------------
# Barman options
#------------------------------------------------------------------------------
{% if repmgr_barman_server is defined %}
barman_server={{ repmgr_barman_server }}
{% endif %}

{% if repmgr_barman_host is defined %}
barman_host={{ repmgr_barman_host }}
{% endif %}

{% if repmgr_barman_config is defined %}
barman_config={{ repmgr_barman_config }}
{% endif %}

#------------------------------------------------------------------------------
# Failover and monitoring settings (repmgrd)
#------------------------------------------------------------------------------
#
# These settings are only applied when repmgrd is running. Values shown
# are defaults.
{% if repmgr_failover is defined %}
failover={{ repmgr_failover }}
{% endif %}

{% if repmgr_priority is defined %}
priority={{ repmgr_priority }}
{% endif %}

{% if repmgr_reconnect_attempts is defined %}
reconnect_attempts={{ repmgr_reconnect_attempts }}
{% endif %}

{% if repmgr_reconnect_interval is defined %}
reconnect_interval={{ repmgr_reconnect_interval }}
{% endif %}

{% if repmgr_promote_command is defined %}
promote_command={{ repmgr_promote_command }}
{% endif %}

{% if repmgr_follow_command is defined %}
follow_command={{ repmgr_follow_command }}
{% endif %}

{% if repmgr_primary_notification_timeout is defined %}
primary_notification_timeout={{ repmgr_primary_notification_timeout }}
{% endif %}
	
{% if repmgr_standby_reconnect_timeout is defined %}
standby_reconnect_timeout={{ repmgr_standby_reconnect_timeout }}
{% endif %}																

{% if repmgr_monitoring_history is defined %}
monitoring_history={{ repmgr_monitoring_history }}
{% endif %}

{% if repmgr_monitor_interval_secs is defined %}
monitor_interval_secs={{ repmgr_monitor_interval_secs }}
{% endif %}

{% if repmgr_degraded_monitoring_timeout is defined %}
degraded_monitoring_timeout={{ repmgr_degraded_monitoring_timeout }}
{% endif %}

{% if repmgr_async_query_timeout is defined %}
async_query_timeout={{ repmgr_async_query_timeout }}
{% endif %}


#------------------------------------------------------------------------------
# service control commands
#------------------------------------------------------------------------------
#
# repmgr provides options to override the default pg_ctl commands
# used to stop, start, restart, reload and promote the PostgreSQL cluster
#
# NOTE: These commands must be runnable on remote nodes as well for switchover
# to function correctly.
#
# If you use sudo, the user repmgr runs as (usually 'postgres')  must have
# passwordless sudo access to execute the command.
#
# For example, to use systemd, you can set
#
#    service_start_command = 'sudo systemctl start postgresql-9.6'
#    (...)
#
# and then use the following sudoers configuration:
#
#    # this is required when running sudo over ssh without -t:
#    Defaults:postgres !requiretty
#    postgres ALL = NOPASSWD: /usr/bin/systemctl stop postgresql-9.6, \
#       /usr/bin/systemctl start postgresql-9.6, \
#       /usr/bin/systemctl restart postgresql-9.6
#
# Debian/Ubuntu users: use "sudo pg_ctlcluster" to execute service control commands.
#
# For more details, see: https://repmgr.org/docs/4.0/configuration-service-commands.html

{% if repmgr_service_start_command is defined %}
service_start_command={{ repmgr_service_start_command }}
{% endif %}

{% if repmgr_service_stop_command is defined %}
service_stop_command={{ repmgr_service_stop_command }}
{% endif %}

{% if repmgr_service_restart_command is defined %}
service_restart_command={{ repmgr_service_restart_command }}
{% endif %}

{% if repmgr_service_reload_command is defined %}
service_reload_command={{ repmgr_service_reload_command }}
{% endif %}

{% if repmgr_service_promote_command is defined %}
service_promote_command={{ repmgr_service_promote_command }}
{% endif %}



#------------------------------------------------------------------------------
# Status check thresholds
#------------------------------------------------------------------------------

# Various warning/critical thresholds used by "repmgr node check".
{% if repmgr_archive_ready_warning is defined %}
archive_ready_warning={{ repmgr_archive_ready_warning }}
{% endif %}

{% if repmgr_archive_ready_critical is defined %}
archive_ready_critical={{ repmgr_archive_ready_critical }}
{% endif %}

{% if repmgr_replication_lag_warning is defined %}
replication_lag_warning={{ repmgr_replication_lag_warning }}
{% endif %}

{% if repmgr_replication_lag_critical is defined %}
replication_lag_critical={{ repmgr_replication_lag_critical }}
{% endif %}



#------------------------------------------------------------------------------
# BDR monitoring options
#------------------------------------------------------------------------------

{% if repmgr_bdr_local_monitoring_only is defined %}
bdr_local_monitoring_only={{ repmgr_bdr_local_monitoring_only }}
{% endif %}

{% if repmgr_bdr_recovery_timeout is defined %}
bdr_recovery_timeout={{ repmgr_bdr_recovery_timeout }}
{% endif %}